body {
            font-family: Arial, sans-serif;
            background: rgb(166, 146, 146);
            margin: 0;
        }

        form {
            width: 355px;
            margin: 50px auto;
            background: white;
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0 0 12px rgba(0,0,0,0.1);
        }

        h1 {
            text-align: center;
            margin-top: 35px;
            padding: 50px;
            font-size: 34px;
        }